ExtensionsV1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by M (Bank Group) -->
<!--W3C XML Schema generated by XMLSpy v2011 rel. 3 (http://www.altova.com)-->
<!-- 20 September added DHAStatus complex type M-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifx="http://somedomain.com/sa/services/global/IFXV2_1" xmlns="http://somedomain.com/sa/services/global/ext" targetNamespace="http://somedomain.com/sa/services/global/ext" elementFormDefault="qualified">
	<xsd:import namespace="http://somedomain.com/sa/services/global/IFXV2_1" schemaLocation="IFXV1_1.xsd"/>
	<xsd:simpleType name="CnttFileName_Type">
		<xsd:annotation>
			<xsd:documentation>The Content File Name Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:NC"/>
	</xsd:simpleType>
	<xsd:simpleType name="CnttFilePath_Type">
		<xsd:annotation>
			<xsd:documentation>The Content File Path Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:NC"/>
	</xsd:simpleType>
	<xsd:simpleType name="CnttTaxonomyLevl_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Taxonomy Level type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DHATransIdent_Type">
		<xsd:annotation>
			<xsd:documentation>DHA autnehtication Transactaion Identifier type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:NC"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocAnot_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Annotation type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocActiveMrkg_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Active Markings type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocAuditEvent_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Audit Event type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocClass_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Class type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocContainer_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Container type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocEntryTmptLaunch_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Entry Template Launched With type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocFolder_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Folder type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocObjectStore_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Object Store type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocPmsn_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Permissions type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocPublFolder_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Public Folder Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocStorageLocation_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Storage Location type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocStoragePolicy_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Storage Policy type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocTitle_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Title type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocVersion_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocVersionSers_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version Series type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocVersionStatus_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version Status type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:NC">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MimeType_Type">
		<xsd:annotation>
			<xsd:documentation>The Mime type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CaseKeys_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="CaseID"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttDocMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Document Metadata aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CnttFileName" minOccurs="0"/>
			<xsd:element ref="CnttFilePath" minOccurs="0"/>
			<xsd:element ref="DocActiveMrkg" minOccurs="0"/>
			<xsd:element ref="DocAnot" minOccurs="0"/>
			<xsd:element ref="DocAuditEvent" minOccurs="0"/>
			<xsd:element ref="DocClass" minOccurs="0"/>
			<xsd:element ref="DocContainer" minOccurs="0"/>
			<xsd:element ref="DocCurVersionNum" minOccurs="0"/>
			<xsd:element ref="DocEntryTmptId" minOccurs="0"/>
			<xsd:element ref="DocEntryTmptLaunch" minOccurs="0"/>
			<xsd:element ref="DocEntryTmptObjectStore" minOccurs="0"/>
			<xsd:element ref="DocFolder" minOccurs="0"/>
			<xsd:element ref="DocIsCurVersion" minOccurs="0"/>
			<xsd:element ref="DocIsExceptionState" minOccurs="0"/>
			<xsd:element ref="DocIsFrozVersion" minOccurs="0"/>
			<xsd:element ref="DocIsResv" minOccurs="0"/>
			<xsd:element ref="DocMajrVersionNum" minOccurs="0"/>
			<xsd:element ref="DocMinrVersionNum" minOccurs="0"/>
			<xsd:element ref="DocObjectStore" minOccurs="0"/>
			<xsd:element ref="DocParentDoc" minOccurs="0"/>
			<xsd:element ref="DocPmsn" minOccurs="0"/>
			<xsd:element ref="DocPublFolder" minOccurs="0"/>
			<xsd:element ref="DocPubn" minOccurs="0"/>
			<xsd:element ref="DocRedrIgnore" minOccurs="0"/>
			<xsd:element ref="DocRelatedDoc" minOccurs="0"/>
			<xsd:element ref="DocRlseVersionNum" minOccurs="0"/>
			<xsd:element ref="DocStorageLocation" minOccurs="0"/>
			<xsd:element ref="DocStoragePolicy" minOccurs="0"/>
			<xsd:element ref="DocTitle" minOccurs="0"/>
			<xsd:element ref="DocVersionEnabled" minOccurs="0"/>
			<xsd:element ref="DocVersionSers" minOccurs="0"/>
			<xsd:element ref="DocVersionStatus" minOccurs="0"/>
			<xsd:element ref="DocVersion" minOccurs="0"/>
			<xsd:element ref="LastAccessDt" minOccurs="0"/>
			<xsd:element ref="LastUpdateLoginName" minOccurs="0"/>
			<xsd:element ref="MimeType" minOccurs="0"/>
			<xsd:element ref="ifx:ResourceLocator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttEnvr_Type">
		<xsd:annotation>
			<xsd:documentation>The system and environment related metadata aggregate type, related to the content object. For example the content object created date.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseEnvr_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CnttIndexMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The indexing metadata aggregate type, related to the content object used for search and retreival, etc. For example the BPID.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:AcctKeys" minOccurs="0"/>
			<xsd:element ref="ifx:ErfXSB" minOccurs="0"/>
			<xsd:element ref="ifx:FamilyName" minOccurs="0"/>
			<xsd:element ref="ifx:IssuedIdentType" minOccurs="0"/>
			<xsd:element ref="ifx:IssuedIdentValue" minOccurs="0"/>
			<xsd:element ref="ifx:NameInitialsXSB" minOccurs="0"/>
			<xsd:element ref="CaseKeys" minOccurs="0"/>
			<xsd:element ref="ifx:OfferKeysXSB" minOccurs="0"/>
			<xsd:element ref="ifx:OrgName" minOccurs="0"/>
			<xsd:element ref="ifx:PartyKeys" minOccurs="0"/>
			<xsd:element ref="ifx:BatchNum" minOccurs="0"/>
			<xsd:element ref="ReferenceKeys" minOccurs="0"/>
			<xsd:element ref="ReferenceName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttInfo_Type">
		<xsd:annotation>
			<xsd:documentation>The Info mandatory required aggregate type, that contains the client modifiable properties of the content object. This component supports a "modify" behavior that allows its contents to be changed by a client under server control. The Info Aggregate of an object contains most business related properties of an object, and is the portion most likely to be used by an application, as it will usually define the key features of a content object.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CnttTaxonomyMeta" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The classification of the content object in the enterprise taxonomy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CnttIndexMeta" minOccurs="0"/>
			<xsd:element ref="CnttDocMeta" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys aggregate type, that describes unique identifiers that reference the object. In addition to the Content Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="CnttId"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CnttKeysFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys aggregate type, that describes unique identifiers that reference the object. In addition to the Content Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
					<xsd:element ref="CnttIndexMeta"/>
					<xsd:element ref="CnttTaxonomyMeta" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CnttPayLoadData_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object Pay Load Data type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:BinData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object record aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element ref="CnttEnvr" minOccurs="0"/>
			<xsd:element ref="CnttId"/>
			<xsd:element ref="CnttInfo"/>
			<xsd:element ref="CnttStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttRecList_Type">
		<xsd:annotation>
			<xsd:documentation>A list of content items.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CnttRec"/>
			<xsd:element ref="CnttPayLoadData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttSelFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object Selection Find aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="CnttKeysFind"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttSelGet_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object Selection Get aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:sequence>
					<xsd:element ref="CnttKeys"/>
					<xsd:element ref="CnttStatus" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>In the context of the get operation, the status code can be set to "CheckOut" to specify that the content must be checked out on retrieval.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DocMajrVersionNum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The Document Major Version Number. In the context of the Get Operation, the consumer can specify the version they wish to receive. The default option returns the latest version.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DocMinrVersionNum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The Document Minor Version Number. In the context of the Get Operation, the consumer can specify the version they wish to receive. The default option returns the latest version.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttStatus_Type">
		<xsd:annotation>
			<xsd:documentation>The Status aggregate type, that contains the current state of the object. Any object that is persistent must have a status. The actual data contained in a status segment is dependent on the actual object but the following will be supported; a status code whose values are dependent on the type of object, a status effective date time, and an indication of who made the last change or how it was made. At a minumum all object status codes will support values of "valid" and "deleted".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CnttStatusCode">
				<xsd:annotation>
					<xsd:documentation>The Content Object status code e.g. CheckIn, CheckOut, etc</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ifx:StatusDesc" minOccurs="0"/>
			<xsd:element ref="ifx:EffDt" minOccurs="0"/>
			<xsd:element ref="ifx:StatusModBy" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttStatusRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Status Record aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element name="CnttId" type="ifx:Identifier_Type">
				<xsd:annotation>
					<xsd:documentation>The unique identifier for the content object. This is the GUID for the object as per the repository.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CnttStatus" type="CnttStatus_Type">
				<xsd:annotation>
					<xsd:documentation>The Status is a required aggregate, that contains the current state of the object. Any object that is persistent must have a status. The actual data contained in a status segment is dependent on the actual object but the following will be supported; a status code whose values are dependent on the type of object, a status effective date time, and an indication of who made the last change or how it was made. At a minumum all object status codes will support values of "valid" and "deleted".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CnttTaxonomyMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Taxonomy Metadata aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CnttTaxonomyLevl1"/>
			<xsd:element ref="CnttTaxonomyLevl2"/>
			<xsd:element ref="CnttTaxonomyLevl3"/>
			<xsd:element ref="CnttTaxonomyLevl4"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialEnvr_Type">
		<xsd:annotation>
			<xsd:documentation>The system and environment related metadata aggregate type, related to the content object. For example the content object created date.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseEnvr_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CredentialInfo_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Information Aggregate Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:SecTokenParty"/>
			<xsd:element ref="PersonBioData" minOccurs="0"/>
			<xsd:element ref="SecurityIndicators" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DHATransIdent" minOccurs="0"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
			<xsd:element ref="ifx:DevName" minOccurs="0"/>
			<xsd:element ref="ifx:PhoneNum" minOccurs="0"/>
			<xsd:element ref="DHAStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Keys aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
					<xsd:element ref="CredentialId"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CredentialRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Record Aggregate Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element ref="CredentialEnvr" minOccurs="0"/>
			<xsd:element ref="CredentialId"/>
			<xsd:element ref="CredentialInfo"/>
			<xsd:element ref="CredentialStatus"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialSelFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Object selection Find aggregate Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="ifx:PartyKeys"/>
				<xsd:element ref="ifx:LoginName"/>
				<xsd:element ref="ifx:IssuedIdent"/>
				<xsd:element ref="ifx:PersonName"/>
				<xsd:element ref="PersonBioData"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialSelGet_Type">
		<xsd:annotation>
			<xsd:documentation>The Credentila Object Selection Get aggregate type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="CredentialKeys"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialStatus_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Status Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CredentialStatusCode"/>
			<xsd:element ref="ifx:StatusDesc" minOccurs="0"/>
			<xsd:element ref="ifx:EffDt" minOccurs="0"/>
			<xsd:element ref="ifx:StatusModBy" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialStatusRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Status Record aggregate type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element ref="CredentialId"/>
			<xsd:element ref="CredentialStatus"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FingrprntList_Type">
		<xsd:sequence>
			<xsd:element ref="FingrprntIdent"/>
			<xsd:element ref="ifx:IdentImg" minOccurs="0" maxOccurs="3"/>
			<xsd:element ref="DHAVerified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderType">
		<xsd:annotation>
			<xsd:documentation>Standardised base header for inclusion in SOAP header.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Timestamp created by message sender at message creation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="traceMessageId">
				<xsd:annotation>
					<xsd:documentation>Unique id for this specific message. Preferably a UUID. Used for tracing the message through the system.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="enterpriseTraceUUId" default=" " nillable="false">
				<xsd:annotation>
					<xsd:appinfo source="http://www.wsadie.com/appinfo">
						<initialValue kind="SPACE"/>
					</xsd:appinfo>
					<xsd:documentation>A UUID. It is the same for all service calls belonging to a specific process. It is unique per process not per service call. It is a process correlation Id.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="36"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contentType">
				<xsd:annotation>
					<xsd:documentation>Defines the message content type. Normally "TEXT/UTF-8", "TEXT/XML" or "TEXT/EBCDIC". For requests from mainframe consumers it will normally be "METAKEY=&lt;4 byte interface name&gt;;TEXT/EBCDIC". For requests to a Partner System via the Mainframe Common Components the following format should be used: "EVENT=&lt;event_category&gt;,&lt;event_type&gt;;TEXT/EBCDIC".</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageStatusType">
		<xsd:sequence>
			<xsd:element name="messageType">
				<xsd:annotation>
					<xsd:documentation>Gives a message response code or status. See enumeration for this field.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="E"/>
						<xsd:enumeration value="I"/>
						<xsd:enumeration value="W"/>
						<xsd:enumeration value="P"/>
						<xsd:enumeration value="X"/>
						<xsd:enumeration value="V"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="messageId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The message id or message category.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="messageNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The message number.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="messageText">
				<xsd:annotation>
					<xsd:documentation>A textual description of the message.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="220"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonBioData_Type">
		<xsd:sequence>
			<xsd:element ref="DisabilityDesc" minOccurs="0"/>
			<xsd:element ref="DHAResult" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="FingrprntList" minOccurs="0" maxOccurs="10"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys aggregate type, that describes unique identifiers that reference the object. In addition to the Content Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="ReferenceID"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecurityIndicators_Type">
		<xsd:sequence>
			<xsd:element ref="SecurityIndType"/>
			<xsd:element ref="SecurityIndValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StandardFaultType">
		<xsd:annotation>
			<xsd:documentation>This message is sent to notify any message publisher of errors that were generated during the processing of that message. It is also used wherever a message would require action on an error return generated by a message subscriber. The error return message will carry the specific message instance causing the error as an “attachment” including descriptive information on the actual error encountered. The intention of this model is to be foundational for enablement of consistent error handling across integration products within the current landscape. Note the common header will form part of the body of this data object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="HeaderType">
				<xsd:sequence>
					<xsd:element name="faultId">
						<xsd:annotation>
							<xsd:documentation>The error code used to identify the instance of error that occurred.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="highLevelFaultType">
						<xsd:annotation>
							<xsd:documentation>The type of error that occurred, e.g. processing error or system error. See enumeration for this field.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
								<xsd:enumeration value="Technical"/>
								<xsd:enumeration value="BusinessOrData"/>
								<xsd:enumeration value="Mixed"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="faultDetails" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>This message is sent to notify any message publisher of errors that were generated during the processing of that message. It is also used wherever a message would require action on an error return generated by a message subscriber. The error return message will carry the specific message instance causing the error as an “attachment” including descriptive information on the actual error encountered. The intention of this model is to be foundational for enablement of consistent error handling across integration products within the current landscape. Note the common header will form part of the body of this data object.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="faultCategory">
									<xsd:annotation>
										<xsd:documentation>Describes if the fault is technical, business or data related. See enumeration for this field.</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="100"/>
											<xsd:enumeration value="Technical_Provider_Fault"/>
											<xsd:enumeration value="Technical_Network_Fault"/>
											<xsd:enumeration value="Data_Schema_Fault"/>
											<xsd:enumeration value="Data_Validation_Fault"/>
											<xsd:enumeration value="Business_Fault"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="message" type="MessageStatusType">
									<xsd:annotation>
										<xsd:documentation>Describes the nature of error.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="attachMessage" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The attached message that resulted in the error being encountered. Base64 encoded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CaseID" type="ifx:Identifier_Type"/>
	<xsd:element name="CaseKeys" type="CaseKeys_Type"/>
	<xsd:element name="CnttDocMeta" type="CnttDocMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Document Metadata.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttEnvr" type="CnttEnvr_Type">
		<xsd:annotation>
			<xsd:documentation>The system and environment related metadata related to the content object. For example the content object created date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttFileName" type="CnttFileName_Type">
		<xsd:annotation>
			<xsd:documentation>The content file name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttFilePath" type="CnttFilePath_Type">
		<xsd:annotation>
			<xsd:documentation>The content file name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttId" type="ifx:Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>The unique identifier for the content object. This is the GUID for the object as per the repository.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttIndexMeta" type="CnttIndexMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The indexing metadata related to the content object used for search and retreival, etc. For example the BPID.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttInfo" type="CnttInfo_Type">
		<xsd:annotation>
			<xsd:documentation>A mandatory required aggregate that contains the client modifiable properties of the content object. This component supports a "modify" behavior that allows its contents to be changed by a client under server control. The Info Aggregate of an object contains most business related properties of an object, and is the portion most likely to be used by an application, as it will usually define the key features of a content object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttKeys" type="CnttKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys segment describes unique identifiers that reference the object. In addition to the Content Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttKeysFind" type="CnttKeysFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys segment the business attributes that can assist to uniquely address an object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttPayLoadData" type="CnttPayLoadData_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Pay Load Data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttRec" type="CnttRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object record data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttRecList" type="CnttRecList_Type">
		<xsd:annotation>
			<xsd:documentation>A list of content items.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttSelFind" type="CnttSelFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object selection find criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttSelGet" type="CnttSelGet_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object selection get criteria.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttStatus" type="CnttStatus_Type">
		<xsd:annotation>
			<xsd:documentation>The Status is a required aggregate, that contains the as-is or to-be state of the object, depending on the context of the operation on the object. The status consists of a status code whose values are dependent on the type of object, a status effective date time, and an indication of who made the last change or how it was made. Current status codes defined are "CheckIn", "CheckOut", etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttStatusCode">
		<xsd:annotation>
			<xsd:documentation>The Content Object status code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="ifx:OpenEnum_Type">
				<xsd:enumeration value="CheckIn"/>
				<xsd:enumeration value="CheckOut"/>
				<xsd:enumeration value="CancelCheckOut"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CnttStatusRec" type="CnttStatusRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Object status record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttTaxonomyLevl1" type="CnttTaxonomyLevl_Type">
		<xsd:annotation>
			<xsd:documentation>The Taxonomy Level 1 indicates the Enterprise Information Categories, and are the highest level of content groupings in the Taxonomy. It describes the logical business grouping of content. The classifications on this level are divided per high level product groupings, and identified generic categories that exist throughout these products.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttTaxonomyLevl2" type="CnttTaxonomyLevl_Type">
		<xsd:annotation>
			<xsd:documentation>The Taxonomy Level 2 indicates the Information Type Classification, which is the layer between the highest level of content groupings and the lowest level where actual content reside. Information type categories form the sub business grouping of content. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttTaxonomyLevl3" type="CnttTaxonomyLevl_Type">
		<xsd:annotation>
			<xsd:documentation>The Taxonomy Level 3 indicates the Content Groupings Categorises, that is a set of related content within the Taxonomy structure. A content group may contain multiple document types that naturally belong together.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttTaxonomyLevl4" type="CnttTaxonomyLevl_Type">
		<xsd:annotation>
			<xsd:documentation>The Taxonomy Level 4 indicates the Document Type, which is the finest grain of content classification recognised by the business. This level in the structure contains the actual content. The content in our scope is documents. Documents serves as a container of the complete set of information, regardless of medium, held as evidence containing details regarding any business transactions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CnttTaxonomyMeta" type="CnttTaxonomyMeta_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Taxonomy Metadata.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialEnvr" type="CredentialEnvr_Type">
		<xsd:annotation>
			<xsd:documentation>The system and environment related metadata related to the Credential object. For example the credential object created date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialId" type="ifx:Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>The unique identifier for the credential object. This is the GUID for the object as per the repository.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialInfo" type="CredentialInfo_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential object information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialKeys" type="CredentialKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential object keys</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialRec" type="CredentialRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential object Record</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialSelFind" type="CredentialSelFind_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Object Selection find criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialSelGet" type="CredentialSelGet_Type">
		<xsd:annotation>
			<xsd:documentation> The Credential object Selection get criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialStatus" type="CredentialStatus_Type">
		<xsd:annotation>
			<xsd:documentation> The Credential object Status </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialStatusCode" type="ifx:OpenEnum_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential Object status code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialStatusRec" type="CredentialStatusRec_Type">
		<xsd:annotation>
			<xsd:documentation>The Credential object Status Record aggregate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DHAResult">
		<xsd:annotation>
			<xsd:documentation>DHA result elment. “G” for verified or “A”, “R” for not verified for first registered finger</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="ifx:OpenEnum_Type">
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="G"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DHATransIdent">
		<xsd:annotation>
			<xsd:documentation>DHA authenitication transaction identifier.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="DHATransIdent_Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="13"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DHAVerified" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>Used to indicate if specific Biometric Fingerprint wasverified at Department of Home Affairs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocActiveMrkg" type="DocActiveMrkg_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Active Markings.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocAnot" type="DocAnot_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Annotations.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocAuditEvent" type="DocAuditEvent_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Audited Event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocClass" type="DocClass_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Class.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocContainer" type="DocContainer_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Container.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocCurVersionNum" type="ifx:Version_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Current Version Number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocEntryTmptId" type="ifx:Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Entry Template Identfier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocEntryTmptLaunch" type="DocEntryTmptLaunch_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Entry Template Launched With.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocEntryTmptObjectStore" type="DocObjectStore_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Entry Template Object Store.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocFolder" type="DocFolder_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Folder.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocIsCurVersion" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Is Current Version.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocIsExceptionState" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Is Exception State.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocIsFrozVersion" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Is Frozen Version.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocIsResv" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Is Reserved.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocMajrVersionNum" type="ifx:Version_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Major Version Number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocMinrVersionNum" type="ifx:Version_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Minor Version Number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocObjectStore" type="DocObjectStore_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Object Store.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocParentDoc" type="ifx:Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Parent Document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocPmsn" type="DocPmsn_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Permission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocPublFolder" type="DocPublFolder_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Published Folder.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocPubn" type="DocFolder_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Publication.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocRedrIgnore" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Redirect Ignore.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocRelatedDoc" type="ifx:Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Related Document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocRlseVersionNum" type="ifx:Version_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Release Version Number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocStorageLocation" type="DocStorageLocation_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Storage Location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocStoragePolicy" type="DocStoragePolicy_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Storage Policy.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocTitle" type="DocTitle_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Title.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocVersion" type="DocVersion_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocVersionEnabled" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version Enabled.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocVersionSers" type="DocVersionSers_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version Series.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocVersionStatus" type="DocVersionStatus_Type">
		<xsd:annotation>
			<xsd:documentation>The Document Version Status.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DisabilityDesc">
		<xsd:annotation>
			<xsd:documentation>Disability description element to indicate if disability is permanent, temporary, none</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="ifx:Desc_Type">
				<xsd:enumeration value="Temporary"/>
				<xsd:enumeration value="Permanent"/>
				<xsd:enumeration value="None"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FingrprntIdent">
		<xsd:annotation>
			<xsd:documentation>Fingerprint Identifier. Used to indicate Finger required by DHA for authentication and for FingerID during biomeric fingerprint enrollment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="ifx:OpenEnum_Type">
				<xsd:enumeration value="0010"/>
				<xsd:enumeration value="0009"/>
				<xsd:enumeration value="0008"/>
				<xsd:enumeration value="0007"/>
				<xsd:enumeration value="0006"/>
				<xsd:enumeration value="0005"/>
				<xsd:enumeration value="0004"/>
				<xsd:enumeration value="0003"/>
				<xsd:enumeration value="0002"/>
				<xsd:enumeration value="0001"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FingrprntList" type="FingrprntList_Type"/>
	<xsd:element name="LastAccessDt" type="ifx:DateTime_Type">
		<xsd:annotation>
			<xsd:documentation>The Last Access Date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastUpdateLoginName" type="ifx:LoginName_Type">
		<xsd:annotation>
			<xsd:documentation>The Last Update User.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MimeType" type="MimeType_Type">
		<xsd:annotation>
			<xsd:documentation>The related Mime Type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBioData">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PersonBioData_Type"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReferenceKeys" type="ReferenceKeys_Type">
		<xsd:annotation>
			<xsd:documentation>The Content Keys segment describes unique identifiers that reference the object. In addition to the Content Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReferenceID" type="ifx:Identifier_Type"/>
	<xsd:element name="ReferenceName" type="ifx:C"/>
	<xsd:element name="SecurityIndicators" type="SecurityIndicators_Type"/>
	<xsd:element name="SecurityIndType">
		<xsd:annotation>
			<xsd:documentation>An enumerated indicator type which is used to indicate if user has been authenticated against DHA and enrolled for biometirc fingerprint. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="ifx:OpenEnum_Type">
				<xsd:enumeration value="DHAVerified"/>
				<xsd:enumeration value="BiometricFingerEnrolment"/>
				<xsd:enumeration value="IDImageRequired"/>
				<xsd:enumeration value="SignatureExists"/>
				<xsd:enumeration value="SignatoryExists"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SecurityIndValue" type="ifx:Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>A boolean indicator value which must be set to True or false. Is used to indicate if user has been authenticated against DHA and enrolled for biometirc fingerprint.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DHAStatus_Type">
		<xsd:sequence>
			<xsd:element ref="DHAStatusCode"/>
			<xsd:element ref="DHAReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DHAStatusCode" type="ifx:OpenEnum_Type"/>
	<xsd:element name="DHAReference" type="DHAReference_Type"/>
	<xsd:simpleType name="DHAReference_Type">
		<xsd:restriction base="ifx:NC"/>
	</xsd:simpleType>
	<xsd:element name="DHAStatus" type="DHAStatus_Type"/>
</xsd:schema>
