IFXV1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2011 rel. 3 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://somedomain.com/sa/services/global/IFXV2_1" targetNamespace="http://somedomain.com/sa/services/global/IFXV2_1" elementFormDefault="qualified">
	<xsd:simpleType name="AcctIdentValue_Type">
		<xsd:annotation>
			<xsd:documentation>Account Identification Value Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AcctSerialNumValueXSB_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AcquirerIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Acquirer Indentification Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Addr1_Type">
		<xsd:annotation>
			<xsd:documentation>Address1 Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Addr2_Type">
		<xsd:annotation>
			<xsd:documentation>Address2 Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Addr3_Type">
		<xsd:annotation>
			<xsd:documentation>Address3 Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Addr4_Type">
		<xsd:annotation>
			<xsd:documentation>Address4 Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AddressIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Address Identification Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AgentIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Agent Identification Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppIdent_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppPan_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppPanSeq_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AuthRsCode_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BatchNum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BinData_Type">
		<xsd:annotation>
			<xsd:documentation>Billing Method Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>Boolean indicates a logical True or False condition.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="BranchIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CardEmbossNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CardNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CardSeqNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CardVrfyData_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CenterIdent_Type">
		<xsd:restriction base="C"/>
	</xsd:simpleType>
	<xsd:simpleType name="City_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClientProcessingModeXSB_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClientTerminalSeqNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClosedEnum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContactName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountyDistrict_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CreateRefIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CustLangPref_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTime_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Date_Type">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfMonth_Type">
		<xsd:restriction base="ClosedEnum_Type">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="14"/>
			<xsd:enumeration value="15"/>
			<xsd:enumeration value="16"/>
			<xsd:enumeration value="17"/>
			<xsd:enumeration value="18"/>
			<xsd:enumeration value="19"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="22"/>
			<xsd:enumeration value="23"/>
			<xsd:enumeration value="24"/>
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
			<xsd:enumeration value="28"/>
			<xsd:enumeration value="29"/>
			<xsd:enumeration value="30"/>
			<xsd:enumeration value="31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DayOfWeek_Type">
		<xsd:restriction base="ClosedEnum_Type">
			<xsd:enumeration value="Monday"/>
			<xsd:enumeration value="Tuesday"/>
			<xsd:enumeration value="Wednesday"/>
			<xsd:enumeration value="Thursday"/>
			<xsd:enumeration value="Friday"/>
			<xsd:enumeration value="Saturday"/>
			<xsd:enumeration value="Sunday"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal_Type">
		<xsd:annotation>
			<xsd:documentation>Decimal indicates a numeric value that meets the following rules:</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Desc_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DevName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EMVRqRawData_Type">
		<xsd:restriction base="HexBinary"/>
	</xsd:simpleType>
	<xsd:simpleType name="EMVRsRawData_Type">
		<xsd:restriction base="HexBinary"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddr_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EndSectName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ErfXSB_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FIIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FamilyName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FullName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="96"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GivenName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GovOrgName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HexBinary">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:pattern value="[0-9A-Fa-f]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentPrevServiceCode_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentServiceCode_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>Object identifiers in the IFX Specification are of the data type "Identifier."  This is a Narrow Character data type with a maximum length of 36.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IfxPath_Type">
		<xsd:annotation>
			<xsd:documentation>Elements of type IfxPath are elements of string data type used to express a field or record within an IFX Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IssuedIdentValue_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IssuedLoc_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Issuer_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IssuerScriptIdent_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IssuerScriptResult_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JobTitle_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Language_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LegalName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="96"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoginAuthority_Type">
		<xsd:annotation>
			<xsd:documentation>Login Authority Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoginName_Type">
		<xsd:annotation>
			<xsd:documentation>Login Name Type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Long_Type">
		<xsd:annotation>
			<xsd:documentation>Long is an integer value, which may be positive, negative, or zero, with values ranging from -2147483648 to 2147483647.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="MCC_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacValue_Type">
		<xsd:restriction base="HexBinary"/>
	</xsd:simpleType>
	<xsd:simpleType name="MacVariant_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData1_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="79"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData2_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData3_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="107"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MerchNum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MiddleName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MsgGroupReference_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NC">
		<xsd:annotation>
			<xsd:documentation>Elements of type Narrow Character are elements of character data type with the additional restriction that the only allowable characters are those contained within the ISO Latin-1 character set.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Name_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameInitialsXSB_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NamePrefix_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameSuffix_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NetworkRefIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OriginatorName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PINBlock_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaternalName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PostalCode_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PreferredName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="96"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProdGrpXSB_Type">
		<xsd:annotation>
			<xsd:documentation>List - Used for Account Locator - Transaction, VAF, Loan, Investment, Saving</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OpenEnum_Type">
			<xsd:enumeration value="Investment"/>
			<xsd:enumeration value="Transaction"/>
			<xsd:enumeration value="Loan"/>
			<xsd:enumeration value="Saving"/>
			<xsd:enumeration value="VAF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Pswd_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RecurExceptionType_Type">
		<xsd:restriction base="ClosedEnum_Type">
			<xsd:enumeration value="Update"/>
			<xsd:enumeration value="Delete"/>
			<xsd:enumeration value="Skip"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RecurType_Type">
		<xsd:restriction base="ClosedEnum_Type">
			<xsd:enumeration value="Daily"/>
			<xsd:enumeration value="Weekly"/>
			<xsd:enumeration value="Monthly"/>
			<xsd:enumeration value="Yearly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Secret_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SecretIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerStatusCode_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerTerminalSeqNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SessKey_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Severity_Type">
		<xsd:restriction base="ClosedEnum_Type">
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Warning"/>
			<xsd:enumeration value="Info"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StartSectName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateProv_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusDesc_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SvcName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TerminalIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Timestamp_Type">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Token_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Trk2EquivData_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URL_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UUID_Type">
		<xsd:annotation>
			<xsd:documentation>UUID elements are Narrow Character with a maximum length of 36.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
			<xsd:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Value_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Version_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AcctIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Acount Identification Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!--xsd:element ref="AcctIdentType" minOccurs="0"/>
			<xsd:element ref="AcctIdentValue" minOccurs="0"/-->
			<xsd:element ref="AcctIdentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Holds the different types of account identifications, such as account number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AcctIdentValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctKeys_Type">
		<xsd:annotation>
			<xsd:documentation>Account Keys Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="AcctId" minOccurs="0"/>
						<xsd:sequence minOccurs="0">
							<xsd:choice minOccurs="0">
								<!--XSBxsd:element ref="BBAN"/>
								<xsd:element ref="IBAN"/>
								<xsd:element ref="UPIC"/>
								<xsd:element ref="CLABE"/-->
								<xsd:element ref="CardMagData"/>
								<xsd:element ref="CardKeys"/>
								<xsd:element ref="CardChipData"/>
								<xsd:element ref="AcctIdent"/>
							</xsd:choice>
							<xsd:element ref="AcctType" minOccurs="0"/>
							<xsd:element ref="CurCode" minOccurs="0"/>
							<xsd:element ref="FIIdentType" minOccurs="0"/>
							<xsd:element ref="FIIdent" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This maps to the routing ID, QC default to "051001"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!--xsd:element ref="BranchIdent" minOccurs="0"/This is now contained in the Branch Info recurring structure-->
							<xsd:element ref="AcctSerialNumValueXSB" minOccurs="0"/>
							<xsd:element ref="ProdGrpXSB" minOccurs="0"/>
						</xsd:sequence>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcctType_Type">
		<xsd:annotation>
			<xsd:documentation>Account Type Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AcctTypeValue">
				<xsd:annotation>
					<xsd:documentation>GTS Table 129 : ACNT-TYPE-THS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AcctTypeSource" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalStatus_Type">
		<xsd:annotation>
			<xsd:documentation>Additional Status Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StatusCode" minOccurs="0"/>
			<xsd:element ref="ServerStatusCode" minOccurs="0"/>
			<xsd:element ref="Severity"/>
			<xsd:element ref="StatusDesc" minOccurs="0"/>
			<xsd:element ref="SubjectElement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AsyncRsData_Type">
		<xsd:sequence>
			<xsd:element ref="AvailDt" minOccurs="0"/>
			<xsd:element ref="ExpDt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseEnvr_Type">
		<xsd:sequence>
			<xsd:element ref="CreatedDt"/>
			<xsd:element ref="CreateRefIdent" minOccurs="0"/>
			<xsd:element ref="ClientCreateDt" minOccurs="0"/>
			<xsd:element ref="ClientBusinessDt" minOccurs="0"/>
			<xsd:element ref="LastUpdateDt" minOccurs="0"/>
			<xsd:element ref="LastUpdateRqUID" minOccurs="0"/>
			<xsd:element ref="LoginName" minOccurs="0"/>
			<xsd:element ref="PartyKeys" minOccurs="0"/>
			<xsd:element ref="CardKeys" minOccurs="0"/>
			<!--xsd:element ref="PassbkKeys" minOccurs="0"/-->
			<xsd:element ref="NetworkTrnData" minOccurs="0"/>
			<xsd:element ref="ServerTerminalSeqNum" minOccurs="0"/>
			<xsd:element ref="PointOfServiceData" minOccurs="0"/>
			<xsd:element ref="ClientTerminalSeqNum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseKeys_Type">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="Binary_Type">
		<xsd:sequence>
			<xsd:element ref="ContentType" minOccurs="0"/>
			<xsd:element ref="BinLength"/>
			<xsd:element ref="BinData"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Binary128_Type">
		<xsd:sequence>
			<xsd:element ref="ContentType" minOccurs="0"/>
			<xsd:element ref="BinLength"/>
			<xsd:element ref="BinData"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CardChipData_Type">
		<xsd:sequence>
			<xsd:element ref="AppPan" minOccurs="0"/>
			<xsd:element ref="AppPanSeq" minOccurs="0"/>
			<xsd:element ref="AppIdent" minOccurs="0"/>
			<xsd:element ref="Trk2EquivData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CardKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="CardId"/>
						<xsd:sequence>
							<xsd:element ref="CardNum"/>
							<xsd:element ref="CardSeqNum" minOccurs="0"/>
						</xsd:sequence>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CardMagData_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="MagData1" minOccurs="0"/>
				<xsd:element ref="MagData2" minOccurs="0"/>
				<xsd:element ref="MagData3" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Certificate_Type">
		<xsd:complexContent>
			<xsd:extension base="Binary_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClearingLangCode_Type">
		<xsd:complexContent>
			<xsd:extension base="CountryCode_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClientApp_Type">
		<xsd:sequence>
			<xsd:element ref="Org">
				<xsd:annotation>
					<xsd:documentation>The name of the application provider (PBBSA, PBBAF, CIBSA, CIBINT, CIBAF, SAP, MS, IBM, etc). (New header field)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Name">
				<xsd:annotation>
					<xsd:documentation>Source Application identifier as per the Master Reference Information (MRI) data (IBIS.SORCE_SYSTM). From technical headers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Version">
				<xsd:annotation>
					<xsd:documentation>The version of the interface. Mainly used for COBOL interfaces. (From technical headers.)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SrcSystemXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source System Identifier as per the Master Reference Information (MRI) data (IBIS.PRTNR_SYSTM_GRP). From technical headers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Contact_Type">
		<xsd:sequence>
			<xsd:element ref="Language" minOccurs="0"/>
			<xsd:choice>
				<xsd:choice>
					<xsd:element ref="PhoneNum"/>
					<xsd:element ref="PostAddr"/>
					<xsd:element ref="Email"/>
				</xsd:choice>
				<xsd:element ref="ResourceLocator"/>
			</xsd:choice>
			<xsd:element ref="ContactType" minOccurs="0"/>
			<xsd:element ref="PreferredInd" minOccurs="0"/>
			<xsd:element ref="ContactName" minOccurs="0"/>
			<xsd:element ref="TimeFrame" minOccurs="0"/>
			<xsd:element ref="JobTitle" minOccurs="0"/>
			<xsd:element ref="DoNotSolicitInd" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContextRqHdr_Type">
		<xsd:sequence>
			<xsd:element ref="FieldSelect" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ClientTerminalSeqNum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Application correlation or session id. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="NetworkTrnData" minOccurs="0"/>
			<xsd:element ref="PointOfServiceData" minOccurs="0"/>
			<xsd:element ref="EMVRqData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EMV Request Data 
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MsgAuthCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Message Authentication Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ClientDt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timestamp created by message sender at message creation. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CustLangPref" minOccurs="0"/>
			<xsd:element ref="ClearingLangCode" minOccurs="0"/>
			<xsd:element ref="ClientApp" minOccurs="0"/>
			<xsd:element ref="ProxyClient" minOccurs="0"/>
			<xsd:element ref="MsgGroupReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A UUID. It is the same for all service calls belonging to a specific process. It is unique per process not per service call. It is a process correlation Id. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContextRsHdr_Type">
		<xsd:sequence>
			<xsd:element ref="ServerDt">
				<xsd:annotation>
					<xsd:documentation>Timestamp created by message sender at message creation. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ServerTerminalSeqNum" minOccurs="0"/>
			<xsd:element ref="Language" minOccurs="0"/>
			<xsd:element ref="EMVRsData" minOccurs="0"/>
			<xsd:element ref="MsgAuthCode" minOccurs="0"/>
			<xsd:element ref="BusinessScopeXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This defines the business sector or server grouping that processes the request message. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ContentTypeXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the message content type. Normally "TEXT/UTF-8", "TEXT/XML" or "TEXT/EBCDIC". For requests from mainframe consumers it will normally be "METAKEY=&lt;4 byte interface name&gt;;TEXT/EBCDIC". For requests to a Partner System via the Mainframe Common Components the following format should be used: "EVENT=&lt;event_category&gt;,&lt;event_type&gt;;TEXT/EBCDIC". (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="IntegrationServerXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifies the service provider or integration server sending the response. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MsgGroupReferenceXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A UUID. It is the same for all service calls belonging to a specific process. It is unique per process not per service call. It is a process correlation Id. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CountryCode_Type">
		<xsd:sequence>
			<xsd:element ref="CountryCodeSource" minOccurs="0"/>
			<xsd:element ref="CountryCodeValue">
				<xsd:annotation>
					<xsd:documentation>GTS Table 218 : CNTRY. QC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialsRqHdr_Type">
		<xsd:sequence>
			<xsd:element ref="SubjectRole">
				<xsd:annotation>
					<xsd:documentation>The Subject Role element identifies who is identified by the credentials.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="StartSession" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start Session </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PartyKeys" minOccurs="0"/>
			<xsd:element ref="SeqNum" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="SecTokenCert"/>
				<xsd:element ref="SecTokenICC"/>
				<xsd:element ref="SecTokenMagCard"/>
				<xsd:element ref="SecTokenCard"/>
				<xsd:element ref="SecTokenLogin"/>
				<xsd:element ref="SecTokenKey"/>
				<xsd:element ref="SecTokenSecretAnswer"/>
				<xsd:element ref="SecTokenParty"/>
				<xsd:element ref="SecTokenObject"/>
				<xsd:element ref="SecTokenIssuedIdent"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CredentialsRsHdr_Type">
		<xsd:sequence>
			<xsd:element ref="Status" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Response Status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SeqNum" minOccurs="0"/>
			<xsd:element ref="SessKey" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Session Key</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ExpDt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Expire Date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CryptPswd_Type">
		<xsd:complexContent>
			<xsd:extension base="Binary128_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CryptSecret_Type">
		<xsd:complexContent>
			<xsd:extension base="Binary128_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CurCode_Type">
		<xsd:sequence>
			<xsd:element ref="CurCodeType" minOccurs="0"/>
			<xsd:element ref="CurCodeValue">
				<xsd:annotation>
					<xsd:documentation>GTS Table 21 : CRNCY</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Cursor_Type">
		<xsd:complexContent>
			<xsd:extension base="Binary_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeliveryInstruction_Type">
		<xsd:sequence>
			<xsd:element ref="DeliveryMethod" minOccurs="0"/>
			<xsd:element ref="DeliveryMedia" minOccurs="0"/>
			<xsd:element ref="DeliveryDestination" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List Alternate Address, Branch, Consumer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="PhoneNum"/>
				<xsd:element ref="PostAddr"/>
				<xsd:element ref="Email"/>
				<xsd:element ref="BranchIdentXSB">
					<xsd:annotation>
						<xsd:documentation>Extension to IFX</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CentreIdentXSB"/>
			</xsd:choice>
			<xsd:element ref="Contact" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="DispatchIndXSB" minOccurs="0"/>
				<xsd:element ref="CollectionInstructionXSB" minOccurs="0"/>
				<xsd:element ref="TPIndXSB" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocCtrlIn_Type">
		<xsd:sequence>
			<xsd:element ref="DeliveryInstruction" minOccurs="0"/>
			<xsd:element ref="PageCountLimit" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocCtrlOut_Type">
		<xsd:sequence>
			<xsd:element ref="SentPageCount" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Duration_Type">
		<xsd:sequence>
			<xsd:element ref="Count" minOccurs="0"/>
			<xsd:element ref="Unit" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EMVRqData_Type">
		<xsd:sequence>
			<xsd:element ref="EMVRqRawData" minOccurs="0"/>
			<xsd:element ref="Trk2EquivData" minOccurs="0"/>
			<xsd:element ref="AppPan" minOccurs="0"/>
			<xsd:element ref="IssuerScriptResultData" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EMVRsData_Type">
		<xsd:sequence>
			<xsd:element ref="EMVRsRawData" minOccurs="0"/>
			<xsd:element ref="AuthRsCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Email_Type">
		<xsd:complexContent>
			<xsd:extension base="Locator_Type">
				<xsd:sequence>
					<xsd:element ref="EmailType" minOccurs="0"/>
					<xsd:element ref="EmailAddr"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GovIssuedIdent_Type">
		<xsd:sequence>
			<xsd:element ref="CountryCode"/>
			<xsd:element ref="GovLevel" minOccurs="0"/>
			<xsd:element ref="GovOrgName" minOccurs="0"/>
			<xsd:element ref="StateProv" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentCharacterData_Type">
		<xsd:sequence>
			<xsd:element ref="IdentType"/>
			<xsd:element ref="ExpDt" minOccurs="0"/>
			<xsd:element ref="StartDt" minOccurs="0"/>
			<xsd:element ref="OrigIssueDt" minOccurs="0"/>
			<xsd:element ref="IdentProgram" minOccurs="0"/>
			<xsd:element ref="IdentReadMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IdentPrevReadMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IdentServiceCode" minOccurs="0"/>
			<xsd:element ref="IdentPrevServiceCode" minOccurs="0"/>
			<xsd:element ref="IdentVerifyMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IdentVerifyEntity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IdentConditions" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IdentVerifyResults" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentImg_Type">
		<xsd:complexContent>
			<xsd:extension base="Binary_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IssuedIdent_Type">
		<xsd:sequence>
			<xsd:element ref="IssuedIdentType"/>
			<xsd:element ref="IssuedIdentValue"/>
			<xsd:element ref="Issuer" minOccurs="0"/>
			<xsd:element ref="IssueDt" minOccurs="0"/>
			<xsd:element ref="ExpDt" minOccurs="0"/>
			<xsd:element ref="Desc" minOccurs="0"/>
			<xsd:element ref="IdentImg" minOccurs="0"/>
			<xsd:element ref="IdentReadMethod" minOccurs="0"/>
			<xsd:element ref="IdentVerifyMethod" minOccurs="0"/>
			<xsd:element ref="IdentVerifyResults" minOccurs="0"/>
			<xsd:element ref="IssuedLoc" minOccurs="0"/>
			<xsd:element ref="GovIssuedIdent" minOccurs="0"/>
			<!--xsd:element ref="USA.TaxIdCert" minOccurs="0"/-->
			<xsd:element ref="UpDt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IssuerScriptResultData_Type">
		<xsd:sequence>
			<xsd:element ref="IssuerScriptResult"/>
			<xsd:element ref="IssuerScriptIdent" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Locator_Type">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="LoginIdent_Type">
		<xsd:sequence>
			<xsd:element ref="LoginAuthority" minOccurs="0"/>
			<xsd:element ref="LoginName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MsgAuthCode_Type">
		<xsd:sequence>
			<xsd:element ref="MacValue"/>
			<xsd:element ref="MacVariant" minOccurs="0"/>
			<xsd:element ref="SecObjId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MsgRqHdr_Type">
		<xsd:sequence>
			<xsd:element ref="AsyncRqUID" minOccurs="0"/>
			<xsd:element ref="SvcIdent" minOccurs="0"/>
			<xsd:element ref="CredentialsRqHdr" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ContextRqHdr" minOccurs="0"/>
			<!--xsd:element ref="FeeRqHdr" minOccurs="0" maxOccurs="unbounded"/-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MsgRsHdr_Type">
		<xsd:sequence>
			<xsd:element ref="AsyncRqUID" minOccurs="0"/>
			<xsd:element ref="CredentialsRsHdr" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ContextRsHdr" minOccurs="0"/>
			<!--xsd:element ref="FeeRsHdr" minOccurs="0" maxOccurs="unbounded"/-->
			<!--xsd:element ref="CardUpdateRsHdr" minOccurs="0"/-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NetworkTrnData_Type">
		<xsd:sequence>
			<xsd:element ref="NetworkOwner"/>
			<xsd:element ref="OriginatorName" minOccurs="0"/>
			<xsd:element ref="OriginatorType" minOccurs="0"/>
			<xsd:element ref="TerminalIdent" minOccurs="0"/>
			<xsd:element ref="TerminalType" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="PostAddr" minOccurs="0"/>
				<xsd:element ref="Desc" minOccurs="0"/>
				<xsd:element ref="Name" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The branch or centre number that originiated the request. (From technical headers)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:element ref="FIIdentType" minOccurs="0"/>
			<xsd:element ref="FIIdent" minOccurs="0"/>
			<xsd:element ref="NetworkRefIdent" minOccurs="0"/>
			<xsd:element ref="AcquirerIdent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The identity of the user or system making this request. This could be the initiating user or teller's credentials. i.e. 'A' number or 'C' number if available. If not available the system user, mainframe user or calling program name. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MerchNum" minOccurs="0"/>
			<xsd:element ref="MCC" minOccurs="0"/>
			<xsd:element ref="ContentTypeXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the message content type. Normally "TEXT/UTF-8", "TEXT/XML" or "TEXT/EBCDIC". For requests from mainframe consumers it will normally be "METAKEY=&lt;4 byte interface name&gt;;TEXT/EBCDIC". For requests to a Partner System via the Mainframe Common Components the following format should be used: "EVENT=&lt;event_category&gt;,&lt;event_type&gt;;TEXT/EBCDIC". (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ClientProcessingModeXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element defines if there are specific processing requirements based on the originator system. The initial usage will be for processing the Business partner validation. If it is a new system then the validation must be as per the new requirements, then the indicator must be "A". If the calling system is a legacy system, or the message must be processed as part of batch process then the indicator must be "B". (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="InterfaceNameXSB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifies the requesting or responding interface. To the mainframe this is the 4 byte interface name. (From technical headers)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OfferKeysXSB_Type">
		<xsd:annotation>
			<xsd:documentation>The Offer Keys aggregate type, that describes unique identifiers that reference the object. In addition to the Offer Id, there might be business attributes that can uniquely address an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="OfferIDXSB"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrgName_Type">
		<xsd:sequence>
			<xsd:element ref="Language" minOccurs="0"/>
			<xsd:sequence>
				<xsd:element ref="Name" minOccurs="0"/>
				<xsd:element ref="LegalName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POSAgent_Type">
		<xsd:sequence>
			<xsd:element ref="AgentType" minOccurs="0"/>
			<xsd:element ref="AgentIdent" minOccurs="0"/>
			<xsd:element ref="AgentPercXSB" minOccurs="0"/>
			<xsd:element ref="CentreIdentXSB" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POSCapabilities_Type">
		<xsd:sequence>
			<xsd:element ref="POSAttended" minOccurs="0"/>
			<xsd:element ref="POSOperation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="POSEntryCapability" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="POSCaptureCapability" minOccurs="0"/>
			<xsd:element ref="POSVerifyCapability" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="POSOutCapabilities" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POSSecurity_Type">
		<xsd:sequence>
			<xsd:element ref="PSSNetworkType" minOccurs="0"/>
			<xsd:element ref="PSSMsgMAC" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PSSMsgEncryption" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PSSCATSecLevel" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PageCountLimit_Type">
		<xsd:sequence>
			<xsd:element ref="PageType" minOccurs="0"/>
			<xsd:element ref="CollatingSequence" minOccurs="0"/>
			<xsd:element ref="PageNumRange" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PageNumRange_Type">
		<xsd:sequence>
			<xsd:element ref="StartSectName" minOccurs="0"/>
			<xsd:element ref="StartPageNum" minOccurs="0"/>
			<xsd:element ref="EndSectName" minOccurs="0"/>
			<xsd:element ref="EndPageNum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyAuth_Type">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="SecTokenCert"/>
				<xsd:element ref="SecTokenICC"/>
				<xsd:element ref="SecTokenMagCard"/>
				<xsd:element ref="SecTokenCard"/>
				<xsd:element ref="SecTokenLogin"/>
				<xsd:element ref="SecTokenKey"/>
				<xsd:element ref="SecTokenSecretAnswer"/>
				<xsd:element ref="SecTokenParty"/>
				<xsd:element ref="SecTokenObject"/>
				<xsd:element ref="SecTokenIssuedIdent"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyAuthRec_Type">
		<xsd:sequence>
			<xsd:element ref="SvcIdent" minOccurs="0"/>
			<xsd:element ref="PartyId"/>
			<xsd:element ref="PartyAuth"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyData_Type">
		<xsd:sequence>
			<xsd:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IssuedIdent" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="PartyId"/>
						<xsd:element ref="LoginIdent"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PartySel_Type">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="PartyKeys"/>
				<xsd:sequence>
					<xsd:element ref="PersonIndicator" minOccurs="0"/>
					<xsd:element ref="IssuedIdentValue" minOccurs="0"/>
					<xsd:element ref="IssuedIdentType" minOccurs="0"/>
					<xsd:element ref="FullName" minOccurs="0"/>
					<xsd:element ref="Addr1" minOccurs="0"/>
					<xsd:element ref="PostalCode" minOccurs="0"/>
					<xsd:element ref="BirthDt" minOccurs="0"/>
					<xsd:element ref="Phone" minOccurs="0"/>
					<xsd:element ref="EmailAddr" minOccurs="0"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonData_Type">
		<xsd:complexContent>
			<xsd:extension base="PartyData_Type">
				<xsd:sequence>
					<xsd:element ref="PersonName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonName_Type">
		<xsd:sequence>
			<xsd:element ref="Language" minOccurs="0"/>
			<xsd:element ref="FullName" minOccurs="0"/>
			<xsd:element ref="FamilyName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The surname</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GivenName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>First Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MiddleName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NamePrefix" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="NameSuffix" minOccurs="0" maxOccurs="unbounded"/>
			<!--xsd:element ref="MaternalName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="MarriedName" minOccurs="0" maxOccurs="unbounded"/-->
			<xsd:element ref="PaternalName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PreferredName" minOccurs="0"/>
			<xsd:element ref="LegalNameInd" minOccurs="0"/>
			<xsd:element ref="PriorNameInd" minOccurs="0"/>
			<xsd:element ref="NameInitialsXSB" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNum_Type">
		<xsd:complexContent>
			<xsd:extension base="Locator_Type">
				<xsd:sequence>
					<xsd:element ref="PhoneType" minOccurs="0"/>
					<xsd:element ref="Phone"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PointOfServiceData_Type">
		<xsd:sequence>
			<xsd:element ref="Environment"/>
			<xsd:element ref="POSCapabilities" minOccurs="0"/>
			<xsd:element ref="POSSecurity" minOccurs="0"/>
			<xsd:element ref="POSAgent" minOccurs="0"/>
			<xsd:element ref="IdentCharacterData" minOccurs="0"/>
			<xsd:element ref="POSLocation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PostAddr_Type">
		<xsd:complexContent>
			<xsd:extension base="Locator_Type">
				<xsd:sequence>
					<xsd:element ref="AddressIdent" minOccurs="0"/>
					<xsd:sequence minOccurs="0">
						<xsd:element ref="Addr1" minOccurs="0"/>
						<xsd:sequence minOccurs="0">
							<xsd:element ref="Addr2" minOccurs="0"/>
							<xsd:sequence minOccurs="0">
								<xsd:element ref="Addr3" minOccurs="0"/>
								<xsd:sequence minOccurs="0">
									<xsd:element ref="Addr4" minOccurs="0"/>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:element ref="City" minOccurs="0"/>
					<xsd:element ref="CountyDistrict" minOccurs="0"/>
					<xsd:element ref="StateProv" minOccurs="0"/>
					<xsd:element ref="PostalCode" minOccurs="0"/>
					<xsd:element ref="CountryCode" minOccurs="0"/>
					<xsd:element ref="AddrType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>List - Primary, Secondary, BUsiness, Home</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="TimeFrame" minOccurs="0"/>
					<xsd:element ref="UpDt" minOccurs="0"/>
					<xsd:element ref="ErfXSB" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProxyClient_Type">
		<xsd:complexContent>
			<xsd:extension base="ClientApp_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RecCountLimit_Type">
		<xsd:sequence>
			<xsd:element ref="LimitPosition" minOccurs="0"/>
			<xsd:element ref="MaxRecLimit" minOccurs="0"/>
			<xsd:element ref="CurRecLimit" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecCtrlIn_Type">
		<xsd:sequence>
			<xsd:element ref="RecCountLimit" minOccurs="0"/>
			<xsd:element ref="Cursor" minOccurs="0"/>
			<xsd:element ref="Token" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecCtrlOut_Type">
		<xsd:sequence>
			<xsd:element ref="SentRecCount"/>
			<xsd:element ref="MatchedRecCount" minOccurs="0"/>
			<xsd:element ref="RemainRecCount" minOccurs="0"/>
			<xsd:element ref="Cursor" minOccurs="0"/>
			<xsd:element ref="Token" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecurException_Type">
		<xsd:sequence>
			<xsd:element ref="RecurExceptionType"/>
			<xsd:element ref="SkipNextN" minOccurs="0"/>
			<xsd:element ref="StartDt"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="EndDt"/>
				<xsd:element ref="Duration"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecurRule_Type">
		<xsd:sequence>
			<xsd:element ref="RecurType" minOccurs="0"/>
			<xsd:element ref="RecurInterval" minOccurs="0"/>
			<xsd:element ref="RecurInstance" minOccurs="0"/>
			<xsd:element ref="DayOfWeek" minOccurs="0"/>
			<xsd:element ref="DayOfMonth" minOccurs="0"/>
			<xsd:element ref="Month" minOccurs="0"/>
			<xsd:element ref="RecurStartDate" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="Occurrences"/>
				<xsd:element ref="RecurEndDate"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SecToken_Type">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="SecTokenCard_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="CardEmbossNum"/>
					<xsd:element ref="CardSeqNum" minOccurs="0"/>
					<xsd:element ref="Brand" minOccurs="0"/>
					<xsd:element ref="CardTechnology" minOccurs="0"/>
					<xsd:element ref="ExpDt" minOccurs="0"/>
					<xsd:element ref="CardVrfyData" minOccurs="0"/>
					<xsd:element ref="Name" minOccurs="0"/>
					<xsd:element ref="CSPhoneNum" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenCert_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="Certificate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenICC_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="AppPan"/>
					<xsd:element ref="AppPanSeq" minOccurs="0"/>
					<xsd:element ref="AppIdent" minOccurs="0"/>
					<xsd:element ref="PINBlock" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenIssuedIdent_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="IssuedIdent"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenKey_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="SessKey"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenLogin_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="LoginName"/>
					<xsd:element ref="SubjectPswd"/>
					<xsd:element ref="SubjectPassCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenMagCard_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="CardMagData"/>
					<xsd:element ref="PINBlock"/>
					<xsd:element ref="CryptType"/>
					<xsd:element ref="SecObjId"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenObject_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="CardVerifyType"/>
						<xsd:element ref="DocumentVerifyType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenParty_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="IdentVerifyMethod" minOccurs="0"/>
					<xsd:element ref="PersonData" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SecTokenSecretAnswer_Type">
		<xsd:complexContent>
			<xsd:extension base="SecToken_Type">
				<xsd:sequence>
					<xsd:element ref="SecretIdent"/>
					<xsd:element ref="CryptType"/>
					<xsd:element ref="SecObjId" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:choice>
						<xsd:element ref="Secret"/>
						<xsd:element ref="CryptSecret"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Status_Type">
		<xsd:sequence>
			<xsd:element ref="StatusCode">
				<xsd:annotation>
					<xsd:documentation>Response Status Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ServerStatusCode" minOccurs="0"/>
			<xsd:element ref="Severity"/>
			<xsd:element ref="StatusDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Response Status Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SubjectElement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AsyncRsData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Asynchronous Response Data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="SubjectElement_Type">
		<xsd:sequence>
			<xsd:element ref="Path"/>
			<xsd:element ref="Value" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubjectPassCode_Type">
		<xsd:complexContent>
			<xsd:extension base="SubjectPswd_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubjectPswd_Type">
		<xsd:sequence>
			<xsd:element ref="CryptType"/>
			<xsd:element ref="SecObjId" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:choice>
				<xsd:element ref="Pswd"/>
				<xsd:element ref="CryptPswd"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SvcIdent_Type">
		<xsd:sequence>
			<xsd:element ref="SvcProviderName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Service Provider Name - GTS Table 357 : SOURC-SYSTM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SvcName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Service Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TimeFrame_Type">
		<xsd:sequence>
			<xsd:element ref="StartDt" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="EndDt"/>
				<xsd:element ref="Duration"/>
			</xsd:choice>
			<xsd:element ref="AllDayEvent" minOccurs="0"/>
			<xsd:element ref="RecurRule" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RecurException" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcctId" type="Identifier_Type"/>
	<xsd:element name="AcctIdent" type="AcctIdent_Type"/>
	<xsd:element name="AcctIdentType">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="AcctNum"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AcctIdentValue" type="AcctIdentValue_Type"/>
	<xsd:element name="AcctKeys" type="AcctKeys_Type">
		<xsd:annotation>
			<xsd:documentation>Account  Keys Element</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcctSerialNumValueXSB" type="AcctSerialNumValueXSB_Type"/>
	<xsd:element name="AcctType" type="AcctType_Type">
		<xsd:annotation>
			<xsd:documentation>GTS Table 129 : ACNT-TYPE-THS</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcctTypeSource" default="GTS">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="GTS"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AcctTypeValue" type="OpenEnum_Type"/>
	<xsd:element name="AcquirerIdent" type="AcquirerIdent_Type"/>
	<xsd:element name="AdditionalStatus" type="AdditionalStatus_Type"/>
	<xsd:element name="Addr1" type="Addr1_Type"/>
	<xsd:element name="Addr2" type="Addr2_Type"/>
	<xsd:element name="Addr3" type="Addr3_Type"/>
	<xsd:element name="Addr4" type="Addr4_Type"/>
	<xsd:element name="AddrType" type="OpenEnum_Type"/>
	<xsd:element name="AddressIdent" type="AddressIdent_Type"/>
	<xsd:element name="AgentIdent" type="AgentIdent_Type"/>
	<xsd:element name="AgentPercXSB" type="Decimal_Type"/>
	<xsd:element name="AgentType">
		<xsd:annotation>
			<xsd:documentation>Agent or Agency</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="Agency"/>
				<xsd:enumeration value="Agent"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AllDayEvent" type="Boolean_Type"/>
	<xsd:element name="AppIdent" type="AppIdent_Type"/>
	<xsd:element name="AppPan" type="AppPan_Type"/>
	<xsd:element name="AppPanSeq" type="AppPanSeq_Type"/>
	<xsd:element name="AsyncRqUID" type="UUID_Type">
		<xsd:annotation>
			<xsd:documentation>Unique Asynchronous Request Identifier</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AsyncRsData" type="AsyncRsData_Type"/>
	<xsd:element name="AuthRsCode" type="AuthRsCode_Type"/>
	<xsd:element name="AvailDt" type="DateTime_Type"/>
	<xsd:element name="BatchNum" type="BatchNum_Type"/>
	<xsd:element name="BinData" type="BinData_Type"/>
	<xsd:element name="BinLength" type="Long_Type"/>
	<xsd:element name="BirthDt" type="Date_Type"/>
	<xsd:element name="BranchIdentXSB" type="BranchIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Used for extensions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Brand" type="OpenEnum_Type"/>
	<xsd:element name="BusinessScopeXSB" type="Name_Type"/>
	<xsd:element name="CSPhoneNum" type="PhoneNumber_Type"/>
	<xsd:element name="CardChipData" type="CardChipData_Type"/>
	<xsd:element name="CardEmbossNum" type="CardEmbossNum_Type"/>
	<xsd:element name="CardId" type="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>Card Identifier</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CardKeys" type="CardKeys_Type">
		<xsd:annotation>
			<xsd:documentation>Card Keys</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CardMagData" type="CardMagData_Type"/>
	<xsd:element name="CardNum" type="CardNum_Type"/>
	<xsd:element name="CardSeqNum" type="CardSeqNum_Type"/>
	<xsd:element name="CardTechnology" type="OpenEnum_Type"/>
	<xsd:element name="CardVerifyType" type="OpenEnum_Type"/>
	<xsd:element name="CardVrfyData" type="CardVrfyData_Type"/>
	<xsd:element name="CentreIdentXSB" type="CenterIdent_Type"/>
	<xsd:element name="Certificate" type="Certificate_Type"/>
	<xsd:element name="City" type="City_Type"/>
	<xsd:element name="ClearingLangCode" type="ClearingLangCode_Type"/>
	<xsd:element name="ClientApp" type="ClientApp_Type"/>
	<xsd:element name="ClientBusinessDt" type="DateTime_Type"/>
	<xsd:element name="ClientCreateDt" type="DateTime_Type"/>
	<xsd:element name="ClientDt" type="DateTime_Type">
		<xsd:annotation>
			<xsd:documentation>Client DateTime</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClientProcessingModeXSB" type="ClientProcessingModeXSB_Type"/>
	<xsd:element name="ClientTerminalSeqNum" type="ClientTerminalSeqNum_Type"/>
	<xsd:element name="CollatingSequence" type="OpenEnum_Type"/>
	<xsd:element name="CollectionInstructionXSB">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="InstructionXSB" minOccurs="0"/>
				<xsd:element ref="EffDt" minOccurs="0"/>
				<xsd:element ref="ExpDt" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Contact" type="Contact_Type"/>
	<xsd:element name="ContactName" type="ContactName_Type"/>
	<xsd:element name="ContactType" type="OpenEnum_Type"/>
	<xsd:element name="ContentType" type="OpenEnum_Type"/>
	<xsd:element name="ContentTypeXSB" type="OpenEnum_Type">
		<xsd:annotation>
			<xsd:documentation>Used to extend std structures</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContextRqHdr" type="ContextRqHdr_Type">
		<xsd:annotation>
			<xsd:documentation>Context Request Header</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContextRsHdr" type="ContextRsHdr_Type"/>
	<xsd:element name="Count" type="Long_Type"/>
	<xsd:element name="CountryCode" type="CountryCode_Type">
		<xsd:annotation>
			<xsd:documentation>GTS Table 218 : CNTRY. QC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCodeSource" type="OpenEnum_Type"/>
	<xsd:element name="CountryCodeValue" type="OpenEnum_Type"/>
	<xsd:element name="CountyDistrict" type="CountyDistrict_Type"/>
	<xsd:element name="CreateRefIdent" type="CreateRefIdent_Type"/>
	<xsd:element name="CreatedDt" type="DateTime_Type"/>
	<xsd:element name="CredentialsRqHdr" type="CredentialsRqHdr_Type">
		<xsd:annotation>
			<xsd:documentation>Credential Request Header</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CredentialsRsHdr" type="CredentialsRsHdr_Type">
		<xsd:annotation>
			<xsd:documentation>The response to a specific credentials request</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CryptPswd" type="CryptPswd_Type"/>
	<xsd:element name="CryptSecret" type="CryptSecret_Type"/>
	<xsd:element name="CryptType" type="OpenEnum_Type"/>
	<xsd:element name="CurCode" type="CurCode_Type">
		<xsd:annotation>
			<xsd:documentation>GTS Table 21 : CRNCY</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurCodeType" type="OpenEnum_Type"/>
	<xsd:element name="CurCodeValue">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CurRecLimit" type="Long_Type"/>
	<xsd:element name="Cursor" type="Cursor_Type"/>
	<xsd:element name="CustLangPref" type="CustLangPref_Type"/>
	<xsd:element name="DayOfMonth" type="DayOfMonth_Type"/>
	<xsd:element name="DayOfWeek" type="DayOfWeek_Type"/>
	<xsd:element name="DelElements" type="IfxPath_Type"/>
	<xsd:element name="DeliveryDestination">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="Alternate"/>
				<xsd:enumeration value="Consumer"/>
				<xsd:enumeration value="Branch"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeliveryInstruction" type="DeliveryInstruction_Type"/>
	<xsd:element name="DeliveryMedia" type="OpenEnum_Type"/>
	<xsd:element name="DeliveryMethod" type="OpenEnum_Type"/>
	<xsd:element name="Desc" type="Desc_Type">
		<xsd:annotation>
			<xsd:documentation>Description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DevName" type="DevName_Type"/>
	<xsd:element name="DispatchIndXSB" type="Boolean_Type"/>
	<xsd:element name="DoNotSolicitInd" type="Boolean_Type"/>
	<xsd:element name="DocCtrlIn" type="DocCtrlIn_Type"/>
	<xsd:element name="DocCtrlOut" type="DocCtrlOut_Type"/>
	<xsd:element name="DocumentVerifyType" type="OpenEnum_Type"/>
	<xsd:element name="Duration" type="Duration_Type"/>
	<xsd:element name="EMVRqData" type="EMVRqData_Type"/>
	<xsd:element name="EMVRqRawData" type="EMVRqRawData_Type"/>
	<xsd:element name="EMVRsData" type="EMVRsData_Type"/>
	<xsd:element name="EMVRsRawData" type="EMVRsRawData_Type"/>
	<xsd:element name="EffDt" type="DateTime_Type">
		<xsd:annotation>
			<xsd:documentation>Effective Date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Email" type="Email_Type"/>
	<xsd:element name="EmailAddr" type="EmailAddr_Type"/>
	<xsd:element name="EmailType" type="OpenEnum_Type"/>
	<xsd:element name="EndDt" type="DateTime_Type"/>
	<xsd:element name="EndPageNum" type="Long_Type"/>
	<xsd:element name="EndSectName" type="EndSectName_Type"/>
	<xsd:element name="Environment" type="OpenEnum_Type"/>
	<xsd:element name="ErfXSB" type="ErfXSB_Type">
		<xsd:annotation>
			<xsd:documentation>The erf numberr, which can be provided as part of a South African address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExpDt" type="DateTime_Type"/>
	<xsd:element name="FIIdent" type="FIIdent_Type">
		<xsd:annotation>
			<xsd:documentation>This maps to the routing ID, QC default to "051001"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FIIdentType" type="OpenEnum_Type"/>
	<xsd:element name="FamilyName" type="FamilyName_Type"/>
	<xsd:element name="FieldSelect" type="IfxPath_Type"/>
	<xsd:element name="FullName" type="FullName_Type"/>
	<xsd:element name="GivenName" type="GivenName_Type"/>
	<xsd:element name="GovIssuedIdent" type="GovIssuedIdent_Type"/>
	<xsd:element name="GovLevel" type="OpenEnum_Type"/>
	<xsd:element name="GovOrgName" type="GovOrgName_Type"/>
	<xsd:element name="IdentCharacterData" type="IdentCharacterData_Type"/>
	<xsd:element name="IdentConditions" type="OpenEnum_Type"/>
	<xsd:element name="IdentImg" type="IdentImg_Type"/>
	<xsd:element name="IdentPrevReadMethod" type="OpenEnum_Type"/>
	<xsd:element name="IdentPrevServiceCode" type="IdentPrevServiceCode_Type"/>
	<xsd:element name="IdentProgram" type="Identifier_Type"/>
	<xsd:element name="IdentReadMethod" type="OpenEnum_Type"/>
	<xsd:element name="IdentServiceCode" type="IdentServiceCode_Type"/>
	<xsd:element name="IdentType" type="OpenEnum_Type"/>
	<xsd:element name="IdentVerifyEntity" type="OpenEnum_Type"/>
	<xsd:element name="IdentVerifyMethod">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="Unknown"/>
				<xsd:enumeration value="None"/>
				<xsd:enumeration value="Signature"/>
				<xsd:enumeration value="PictureID"/>
				<xsd:enumeration value="OnlinePIN"/>
				<xsd:enumeration value="OfflinePIN"/>
				<xsd:enumeration value="DigitizedSignature"/>
				<xsd:enumeration value="Biometrics"/>
				<xsd:enumeration value="ICCSignature"/>
				<xsd:enumeration value="Certificate"/>
				<xsd:enumeration value="AddressVerification"/>
				<xsd:enumeration value="TelephoneNumberVerification"/>
				<xsd:enumeration value="PersonalInfoVerification"/>
				<xsd:enumeration value="CardVerificationValue"/>
				<xsd:enumeration value="DHA"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IdentVerifyResults">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="CVVValid"/>
				<xsd:enumeration value="CVVInvalid"/>
				<xsd:enumeration value="PINValid"/>
				<xsd:enumeration value="PINInvalid"/>
				<xsd:enumeration value="SignatureValid"/>
				<xsd:enumeration value="SignatureInvalid"/>
				<xsd:enumeration value="Verified"/>
				<xsd:enumeration value="NotVerified"/>
				<xsd:enumeration value="InProgress"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="InstructionXSB" type="C"/>
	<xsd:element name="IntegrationServerXSB" type="Name_Type"/>
	<xsd:element name="InterfaceNameXSB" type="Name_Type"/>
	<xsd:element name="IssueDt" type="DateTime_Type"/>
	<xsd:element name="IssuedIdent" type="IssuedIdent_Type"/>
	<xsd:element name="IssuedIdentType" type="OpenEnum_Type">
		<xsd:annotation>
			<xsd:documentation>GTS 193</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IssuedIdentValue" type="IssuedIdentValue_Type"/>
	<xsd:element name="IssuedLoc" type="IssuedLoc_Type"/>
	<xsd:element name="Issuer" type="Issuer_Type"/>
	<xsd:element name="IssuerScriptIdent" type="IssuerScriptIdent_Type"/>
	<xsd:element name="IssuerScriptResult" type="IssuerScriptResult_Type"/>
	<xsd:element name="IssuerScriptResultData" type="IssuerScriptResultData_Type"/>
	<xsd:element name="JobTitle" type="JobTitle_Type"/>
	<xsd:element name="Language" type="Language_Type"/>
	<xsd:element name="LastUpdateDt" type="DateTime_Type"/>
	<xsd:element name="LastUpdateRqUID" type="UUID_Type"/>
	<xsd:element name="LegalName" type="LegalName_Type">
		<xsd:annotation>
			<xsd:documentation>The legal name of an ORGANISATION</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LegalNameInd" type="Boolean_Type"/>
	<xsd:element name="LimitPosition" type="OpenEnum_Type"/>
	<xsd:element name="LoginAuthority" type="LoginAuthority_Type"/>
	<xsd:element name="LoginIdent" type="LoginIdent_Type"/>
	<xsd:element name="LoginName" type="LoginName_Type"/>
	<xsd:element name="MCC" type="MCC_Type"/>
	<xsd:element name="MacValue" type="MacValue_Type"/>
	<xsd:element name="MacVariant" type="MacVariant_Type"/>
	<xsd:element name="MagData1" type="MagData1_Type"/>
	<xsd:element name="MagData2" type="MagData2_Type"/>
	<xsd:element name="MagData3" type="MagData3_Type"/>
	<xsd:element name="MatchedRecCount" type="Long_Type"/>
	<xsd:element name="MaxRecLimit" type="Long_Type"/>
	<xsd:element name="MerchNum" type="MerchNum_Type"/>
	<xsd:element name="MiddleName" type="MiddleName_Type"/>
	<xsd:element name="Month" type="Long_Type"/>
	<xsd:element name="MsgAuthCode" type="MsgAuthCode_Type"/>
	<xsd:element name="MsgGroupReference" type="MsgGroupReference_Type">
		<xsd:annotation>
			<xsd:documentation>Message Group Reference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MsgGroupReferenceXSB" type="MsgGroupReference_Type">
		<xsd:annotation>
			<xsd:documentation>Message Group Reference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MsgRqHdr" type="MsgRqHdr_Type"/>
	<xsd:element name="MsgRsHdr" type="MsgRsHdr_Type">
		<xsd:annotation>
			<xsd:documentation>Message Response Header</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Name" type="Name_Type"/>
	<xsd:element name="NameInitialsXSB" type="NameInitialsXSB_Type">
		<xsd:annotation>
			<xsd:documentation>The name initials data as per the person name aggregate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NamePrefix" type="NamePrefix_Type"/>
	<xsd:element name="NameSuffix" type="NameSuffix_Type"/>
	<xsd:element name="NetworkOwner" type="OpenEnum_Type"/>
	<xsd:element name="NetworkRefIdent" type="NetworkRefIdent_Type"/>
	<xsd:element name="NetworkTrnData" type="NetworkTrnData_Type">
		<xsd:annotation>
			<xsd:documentation>Network Transaction Data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewElements" type="IfxPath_Type"/>
	<xsd:element name="Occurrences" type="Long_Type"/>
	<xsd:element name="OfferIDXSB" type="Identifier_Type"/>
	<xsd:element name="OfferKeysXSB" type="OfferKeysXSB_Type"/>
	<xsd:element name="Org" type="Identifier_Type"/>
	<xsd:element name="OrgName" type="OrgName_Type"/>
	<xsd:element name="OrigIssueDt" type="DateTime_Type"/>
	<xsd:element name="OriginatorName" type="OriginatorName_Type"/>
	<xsd:element name="OriginatorType" type="Long_Type"/>
	<xsd:element name="PINBlock" type="PINBlock_Type"/>
	<xsd:element name="POSAgent">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="POSAgent_Type"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="POSAttended" type="Boolean_Type"/>
	<xsd:element name="POSCapabilities" type="POSCapabilities_Type"/>
	<xsd:element name="POSCaptureCapability" type="Boolean_Type"/>
	<xsd:element name="POSEntryCapability" type="OpenEnum_Type"/>
	<xsd:element name="POSLocation" type="OpenEnum_Type"/>
	<xsd:element name="POSOperation" type="OpenEnum_Type"/>
	<xsd:element name="POSOutCapabilities" type="OpenEnum_Type"/>
	<xsd:element name="POSSecurity" type="POSSecurity_Type"/>
	<xsd:element name="POSVerifyCapability" type="OpenEnum_Type"/>
	<xsd:element name="PSSCATSecLevel" type="OpenEnum_Type"/>
	<xsd:element name="PSSMsgEncryption" type="OpenEnum_Type"/>
	<xsd:element name="PSSMsgMAC" type="OpenEnum_Type"/>
	<xsd:element name="PSSNetworkType" type="OpenEnum_Type"/>
	<xsd:element name="PageCountLimit" type="PageCountLimit_Type"/>
	<xsd:element name="PageNumRange" type="PageNumRange_Type"/>
	<xsd:element name="PageType" type="OpenEnum_Type"/>
	<xsd:element name="PartyAuth" type="PartyAuth_Type"/>
	<xsd:element name="PartyAuthRec" type="PartyAuthRec_Type"/>
	<xsd:element name="PartyId" type="Identifier_Type"/>
	<xsd:element name="PartyKeys" type="PartyKeys_Type">
		<xsd:annotation>
			<xsd:documentation>Identifies the Party, if the party cannot be identified by the security token but identification of the party is required. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PartySel" type="PartySel_Type">
		<xsd:annotation>
			<xsd:documentation>Party Selection</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaternalName" type="PaternalName_Type"/>
	<xsd:element name="Path" type="IfxPath_Type"/>
	<xsd:element name="PersonData" type="PersonData_Type"/>
	<xsd:element name="PersonIndicator" type="Boolean_Type"/>
	<xsd:element name="PersonName" type="PersonName_Type"/>
	<xsd:element name="Phone">
		<xsd:simpleType>
			<xsd:restriction base="PhoneNumber_Type">
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PhoneNum" type="PhoneNum_Type"/>
	<xsd:element name="PhoneType" type="OpenEnum_Type"/>
	<xsd:element name="PointOfServiceData" type="PointOfServiceData_Type">
		<xsd:annotation>
			<xsd:documentation>Point of Service Data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostAddr" type="PostAddr_Type"/>
	<xsd:element name="PostalCode" type="PostalCode_Type"/>
	<xsd:element name="PreferredInd" type="Boolean_Type"/>
	<xsd:element name="PreferredName" type="PreferredName_Type"/>
	<xsd:element name="PriorNameInd" type="Boolean_Type"/>
	<xsd:element name="ProdGrpXSB" type="ProdGrpXSB_Type">
		<xsd:annotation>
			<xsd:documentation>List - Used for Account Locator - Transaction, VAF, Loan, Investment, Saving</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProxyClient" type="ProxyClient_Type"/>
	<xsd:element name="Pswd" type="Pswd_Type"/>
	<xsd:element name="RecCountLimit" type="RecCountLimit_Type"/>
	<xsd:element name="RecCtrlIn" type="RecCtrlIn_Type"/>
	<xsd:element name="RecCtrlOut" type="RecCtrlOut_Type"/>
	<xsd:element name="RecSelect" type="IfxPath_Type"/>
	<xsd:element name="RecurEndDate" type="Date_Type"/>
	<xsd:element name="RecurException" type="RecurException_Type"/>
	<xsd:element name="RecurExceptionType" type="RecurExceptionType_Type"/>
	<xsd:element name="RecurInstance" type="Long_Type"/>
	<xsd:element name="RecurInterval" type="Long_Type"/>
	<xsd:element name="RecurRule" type="RecurRule_Type"/>
	<xsd:element name="RecurStartDate" type="Date_Type"/>
	<xsd:element name="RecurType" type="RecurType_Type"/>
	<xsd:element name="RemainRecCount" type="Long_Type"/>
	<xsd:element name="ResourceLocator" type="URL_Type"/>
	<xsd:element name="RqUID" type="UUID_Type">
		<xsd:annotation>
			<xsd:documentation>Unique id for this specific message. Preferably a UUID. Used for tracing the message through the system. (From technical headers)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecObjId" type="Identifier_Type"/>
	<xsd:element name="SecTokenCard" type="SecTokenCard_Type">
		<xsd:annotation>
			<xsd:documentation>Security Token Card Aggregate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecTokenCert" type="SecTokenCert_Type">
		<xsd:annotation>
			<xsd:documentation>Aggregate for a certificate security token</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecTokenICC" type="SecTokenICC_Type"/>
	<xsd:element name="SecTokenIssuedIdent" type="SecTokenIssuedIdent_Type"/>
	<xsd:element name="SecTokenKey" type="SecTokenKey_Type">
		<xsd:annotation>
			<xsd:documentation>Security Token Key Aggregate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecTokenLogin" type="SecTokenLogin_Type"/>
	<xsd:element name="SecTokenMagCard" type="SecTokenMagCard_Type"/>
	<xsd:element name="SecTokenObject" type="SecTokenObject_Type"/>
	<xsd:element name="SecTokenParty" type="SecTokenParty_Type"/>
	<xsd:element name="SecTokenSecretAnswer" type="SecTokenSecretAnswer_Type"/>
	<xsd:element name="Secret" type="Secret_Type"/>
	<xsd:element name="SecretIdent" type="SecretIdent_Type"/>
	<xsd:element name="SentPageCount" type="Long_Type"/>
	<xsd:element name="SentRecCount" type="Long_Type"/>
	<xsd:element name="SeqNum" type="Long_Type">
		<xsd:annotation>
			<xsd:documentation>Sequence Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServerDt" type="DateTime_Type"/>
	<xsd:element name="ServerStatusCode" type="ServerStatusCode_Type"/>
	<xsd:element name="ServerTerminalSeqNum" type="ServerTerminalSeqNum_Type"/>
	<xsd:element name="SessKey" type="SessKey_Type"/>
	<xsd:element name="Severity" type="Severity_Type"/>
	<xsd:element name="SkipNextN" type="Long_Type"/>
	<xsd:element name="SrcSystemXSB" type="Name_Type"/>
	<xsd:element name="StartDt" type="DateTime_Type">
		<xsd:annotation>
			<xsd:documentation>Start Date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StartPageNum" type="Long_Type"/>
	<xsd:element name="StartSectName" type="StartSectName_Type"/>
	<xsd:element name="StartSession" type="Boolean_Type"/>
	<xsd:element name="StateProv" type="StateProv_Type"/>
	<xsd:element name="Status" type="Status_Type">
		<xsd:annotation>
			<xsd:documentation>Status for this specific message's response</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusCode" type="Long_Type">
		<xsd:annotation>
			<xsd:documentation>Status Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusDesc" type="StatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Status Description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusModBy" type="OpenEnum_Type">
		<xsd:annotation>
			<xsd:documentation>Status Modified By</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubjectElement" type="SubjectElement_Type"/>
	<xsd:element name="SubjectPassCode" type="SubjectPassCode_Type"/>
	<xsd:element name="SubjectPswd" type="SubjectPswd_Type"/>
	<xsd:element name="SubjectRole" type="OpenEnum_Type">
		<xsd:annotation>
			<xsd:documentation> Subject Role (GTS Table 1034, SAP BPRTN Role C) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SvcIdent" type="SvcIdent_Type">
		<xsd:annotation>
			<xsd:documentation>Service Identification Complex Type. Shows the source system information and the service name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SvcName" type="SvcName_Type">
		<xsd:annotation>
			<xsd:documentation>Service Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SvcProviderName" type="URL_Type">
		<xsd:annotation>
			<xsd:documentation>Service Provider Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TerminalIdent" type="TerminalIdent_Type"/>
	<xsd:element name="TerminalType" type="OpenEnum_Type"/>
	<xsd:element name="TimeFrame" type="TimeFrame_Type"/>
	<xsd:element name="Token" type="Token_Type"/>
	<xsd:element name="TPIndXSB" type="Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>Third Party Indicator</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Trk2EquivData" type="Trk2EquivData_Type"/>
	<xsd:element name="Unit" type="OpenEnum_Type"/>
	<xsd:element name="UpDt" type="Timestamp_Type"/>
	<xsd:element name="UpdElements" type="IfxPath_Type"/>
	<xsd:element name="Value" type="Value_Type"/>
	<xsd:element name="Version" type="Version_Type"/>
</xsd:schema>
